<!DOCTYPE html>
<html leng="en">

<head>
	<title>Kalen Strait</title>
	<meta charset="utf-8" />
</head>

<body class="body" style="background-color:#f6f6f6">
	<div>
		{% block content %}
		{% endblock %}
	</div>
	<p>I'm trying my best to learn web development at the moment, though Im not entirely sure why
	as it seems like I should maybe be focused more on app development but ehh
	i guess this is cool too</p>
	<h2>Graph Goes Here</h2>
		<img src="<img>https://images-na.ssl-images-amazon.com/images/I/61vchMo7LXL._SL1017_.jpg">

</body>
</html>