<html>
	<head>
		<title>This is Kalen's practice blog!</title>
	</head>
	<body>
		<div>
			<h1><a href="/webapp">Take a poll!</a></h1>
		</div>
		{% for post in posts %}
			<div>
				<h1><a href="">{{ post.title }}</a></h1>
				<p>published: {{ post.published_date }}</p>
				<p>{{ post.text|linebreaksbr }}</p>
			<div>
		{% endfor %}
		<div>
			<h2>YOOOOOO</h2>
			<h1><a href="/person">Different examply page</a></h1>
			<p>Is this thing on?</p>
			<p>lmao cool</p>
		</div>
		<div>
			<h2>This is a list of blog posts which exist here</h2>
			{% for post in posts %}
				{{ post }}
			{% endfor %}
			<p>Here is some more text in the third division tag</p>
			<img src="http://i.imgur.com/9IJm7Iv.jpg" />

		</div>
	</body>
</html>